# Local datasets
Data/
Data.zip
*.csv

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*venv/
arol_venv/

# Django
*.sqlite3
db.sqlite3

# Node / frontend
node_modules/
dist/
.DS_Store
.env

.cursorrules
